img {
  width: auto;
  height: 25px;
}

nav {
  /* box-shadow: 0px 0px 10px 0px; */
  width: 100%;
  border-radius: 0%;
  border: none;
  color: white;
  background-color: darkgoldenrod;
  height: 50px;
}

button {
  border: inherit;
  background-color: inherit;
  padding: 15px 0px 10px 0px;
}

.below {
  padding-top: 50px;
  border: inherit;
  border-bottom: solid;
  border-width: 0.7px;
  border-color: gray;
  position: static;
}
