<div class="col-md-10">
  <div class="btnbar" style="width: inherit">
    <h3 style="float: left">Work Items</h3>
    <li>
      <button mat-button style="color:rgb(58, 56, 56)"><span class="glyphicon glyphicon-import"></span><p role="presentation">Import</p></button>
    </li>
    <li>
      <button (click)="exportAsXLSX()" mat-button style="color:rgb(58, 56, 56)"><span class="glyphicon glyphicon-export"></span><p role="presentation">Export</p></button>
    </li>
    <li>
      <button mat-button (click)="AddEmployee()" style="color:rgb(7, 192, 7)"><span class="glyphicon glyphicon-floppy-disk"></span><p role="presentation">Save</p></button>
    </li>
    <li>
      <button mat-button style="color:rgb(212, 2, 2)"><span class="glyphicon glyphicon-remove"></span><p role="presentation">Remove</p></button>
    </li>
    <li>
      <button mat-button style="color:rgb(58, 56, 56)"><span class="glyphicon glyphicon-search"></span><p role="presentation">Search</p></button>
    </li>.
  </div>
  <br><br>
  <div class="pg-assnpro" style="height: calc( 100vh - 115px)">
    <body>
      <hr>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              New Entry
            </mat-panel-title>
            <mat-panel-description>
              A New Employee Details Can Be Added Here
            </mat-panel-description>
          </mat-expansion-panel-header>
          <form [formGroup]="EmployeeForm">
            <mat-card>
              <mat-form-field>
                <input matInput placeholder="Employee Id" formControlName="emp_Id">
                <mat-error *ngIf="hasError('emp_Id', 'required')">Employee Id is required</mat-error>
                <mat-error *ngIf="hasError('emp_Id', 'maxlength')">Employee Id cannot be more than 8 characters</mat-error>
                <mat-error *ngIf="hasError('emp_Id', 'minlength')">Employee Id cannot be less than 8 characters</mat-error>
              </mat-form-field>&nbsp;&nbsp;

              <mat-form-field style="width: 250px;">
                <input matInput placeholder="Employee Name" formControlName="emp_Name">
                <mat-error *ngIf="hasError('emp_Name', 'required')">Employee Name is required</mat-error>
                <mat-error *ngIf="hasError('emp_Name', 'pattern')">Employee Name should not contain numbers</mat-error>
              </mat-form-field>&nbsp;&nbsp;

              <mat-form-field style="width: 250px;">
                <input type="text" placeholder="Designation" formControlName="designation_Id" matInput [matAutocomplete]="empDes">
                <mat-error *ngIf="hasError('designation_Id', 'required')">Designation is required</mat-error>
                <mat-autocomplete #empDes="matAutocomplete">
                  <mat-option *ngFor="let d of design" [value]="d.designation_Description">{{d.designation_Description}}</mat-option>
                </mat-autocomplete>
              </mat-form-field>&nbsp;&nbsp;
            

              <mat-form-field>
                <input matInput placeholder="Contact No." formControlName="contact_Number" type="text">
                <mat-error *ngIf="hasError('contact_Number', 'required')">Contact Number is required</mat-error>
                <mat-error *ngIf="hasError('contact_Number', 'maxlength')">Contact Number is more than 10 characters</mat-error>
                <mat-error *ngIf="hasError('contact_Number', 'minlength')">Contact Number is less than 10 characters</mat-error>
                <mat-error *ngIf="hasError('contact_Number', 'pattern')">Contact Number should not contain characters</mat-error>
              </mat-form-field>&nbsp;&nbsp;

              <mat-form-field style="width: 250px;">
                <input matInput placeholder="Email Id" formControlName="email_Id">
                <mat-error *ngIf="hasError('email_Id', 'required')">Email Id is required</mat-error>
                <mat-error *ngIf="hasError('email_Id', 'pattern')">Email Id should be end with @pactera.com</mat-error>
              </mat-form-field>&nbsp;&nbsp;<br>

              <hr class="cardhr">

              <mat-form-field>
                <input type="text" placeholder="Department" formControlName="department_Id" matInput [matAutocomplete]="empDep">
                <mat-error *ngIf="hasError('department_Id', 'required')">Department is required</mat-error>
                <mat-autocomplete #empDep="matAutocomplete">
                  <mat-option *ngFor="let d of dept" [value]="d.department_Description">{{d.department_Description}}</mat-option>
                </mat-autocomplete>
              </mat-form-field>&nbsp;&nbsp;

              <mat-form-field>
                <input type="text" placeholder="EDGE Practice" formControlName="edge_Practice_Id" matInput [matAutocomplete]="empEdge">
                <mat-error *ngIf="hasError('edge_Practice_Id', 'required')">Edge Practice Name is required</mat-error>
                <mat-autocomplete #empEdge="matAutocomplete">
                  <mat-option *ngFor="let d of edge" [value]="d.edge_Practice_Description">{{d.edge_Practice_Description}}</mat-option>
                </mat-autocomplete>
              </mat-form-field>&nbsp;&nbsp;

              <mat-form-field>
                <input type="text" placeholder="COE" formControlName="coe_Id" matInput [matAutocomplete]="empCoe">
                <mat-error *ngIf="hasError('coe_Id', 'required')">COE is required</mat-error>
                <mat-autocomplete #empCoe="matAutocomplete">
                  <mat-option *ngFor="let d of coe" [value]="d.coe_Description">{{d.coe_Description}}</mat-option>
                </mat-autocomplete>
              </mat-form-field>&nbsp;&nbsp;

              <mat-form-field>
                <input type="text" placeholder="Base Location" formControlName="location_Code" matInput [matAutocomplete]="empCity">
                <mat-error *ngIf="hasError('location_Code', 'required')">Location Code is required</mat-error>
                <mat-autocomplete #empCity="matAutocomplete">
                  <mat-option *ngFor="let d of Location" [value]="d.city">{{d.city}}</mat-option>
                </mat-autocomplete>
              </mat-form-field>&nbsp;&nbsp;

              <mat-form-field style="width: 185px;">
                <input matInput placeholder="Joined On" (focus)="myDatepicker.open()" [matDatepicker]="myDatepicker" formControlName="joining_Date">
                <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #myDatepicker></mat-datepicker>
                <mat-error *ngIf="hasError('joining_Date', 'required')">Joining Date is required</mat-error>
              </mat-form-field>&nbsp;&nbsp;<br>

              <hr class="cardhr">
              <mat-form-field>
                <input matInput placeholder="Reporting To" formControlName="reporting_To">
                <mat-error *ngIf="hasError('reporting_To', 'required')">Reporting To is required</mat-error>
                <mat-error *ngIf="hasError('reporting_To', 'pattern')">Name should not contain numbers</mat-error>
              </mat-form-field>&nbsp;&nbsp;

              <mat-form-field style="width: 250px;">
                <input matInput placeholder="Mail Id of Reporting To" formControlName="reporting_To_Email">
                <mat-error *ngIf="hasError('reporting_To_Email', 'required')">Reporting To Email is required</mat-error>
                <mat-error *ngIf="hasError('reporting_To_Email', 'pattern')">Reporting To Email should ends with @pactera.com</mat-error>
              </mat-form-field>&nbsp;&nbsp;

            </mat-card>
          </form>
        </mat-expansion-panel>
      </mat-accordion>
      <br>
      <hr>
      <mat-card>
        <table class="table-bordered container-fluid">
          <tr style="background:#8BBC58">
            <th><input type="checkbox"></th>
            <th></th>
            <th style="text-align:center">Employee Id</th>
            <th style="text-align:center">Employee Name</th>
            <th style="text-align:center">Designation</th>
            <th style="text-align:center">Department</th>
            <th style="text-align:center">EDGE Practice</th>
            <th style="text-align:center">COE</th>
            <th style="text-align:center">Base Location</th>
            <th style="text-align:center; width: 150px;">Joining Date</th>
            <th style="text-align:center">Contact Number</th>
            <th style="text-align:center">Email ID</th>
            <th style="text-align:center">Reporting To</th>
            <th style="text-align:center">Reporting To Email</th>
          </tr>
          <tr *ngFor="let ep of employee">
            <td><input type="checkbox"></td>
            <td style="width:70px;">
              <button (click)="edit(ep.emp_Id)"><span class="glyphicon glyphicon-pencil"></span></button>
              <button type="button" (click)="delete(ep.emp_Id)"><span class="glyphicon glyphicon-trash btn-bg" style="color:red"></span></button>
            </td>

            <td>{{ep.emp_Id}}</td>
            <td *ngIf="ep.emp_Id === EditRowId"><input type="text" [(ngModel)]="ep.emp_Name" /></td>
            <td *ngIf="ep.emp_Id !==EditRowId">{{ep.emp_Name}}</td>

            <td *ngIf="ep.emp_Id === EditRowId"><input type="text" [(ngModel)]="ep.designation_Id" /></td>
            <td *ngIf="ep.emp_Id !==EditRowId">{{ep.designation_Id}}</td>

            <td *ngIf="ep.emp_Id === EditRowId"><input type="text" [(ngModel)]="ep.department_Id" /></td>
            <td *ngIf="ep.emp_Id !==EditRowId">{{ep.department_Id}}</td>

            <td *ngIf="ep.emp_Id === EditRowId"><input type="text" [(ngModel)]="ep.edge_Practice_Id" /></td>
            <td *ngIf="ep.emp_Id !==EditRowId">{{ep.edge_Practice_Id}}</td>

            <td *ngIf="ep.emp_Id === EditRowId"><input type="text" [(ngModel)]="ep.coe_Id" /></td>
            <td *ngIf="ep.emp_Id !==EditRowId">{{ep.coe_Id}}</td>

            <td *ngIf="ep.emp_Id === EditRowId"><input type="text" [(ngModel)]="ep.location_Code" /></td>
            <td *ngIf="ep.emp_Id !==EditRowId">{{ep.location_Code}}</td>


            <td style="width:150px;" *ngIf="ep.emp_Id === EditRowId"><input type="text" [(ngModel)]="ep.joining_Date" /></td>
            <td style="width:150px;" *ngIf="ep.emp_Id !==EditRowId">{{ep.joining_Date|date:'dd-MMM-yyyy'}}</td>

            <td *ngIf="ep.emp_Id === EditRowId"><input type="text" [(ngModel)]="ep.contact_Number" /></td>
            <td *ngIf="ep.emp_Id !==EditRowId">{{ep.contact_Number}}</td>

            <td *ngIf="ep.emp_Id === EditRowId"><input type="text" [(ngModel)]="ep.email_ID" /></td>
            <td *ngIf="ep.emp_Id !==EditRowId">{{ep.email_ID}}</td>

            <td *ngIf="ep.emp_Id === EditRowId"><input type="text" [(ngModel)]="ep.reporting_To" /></td>
            <td *ngIf="ep.emp_Id !==EditRowId">{{ep.reporting_To}}</td>

            <td *ngIf="ep.emp_Id === EditRowId"><input type="text" [(ngModel)]="ep.reporting_To_Email" /></td>
            <td *ngIf="ep.emp_Id !==EditRowId">{{ep.reporting_To_Email}}</td>
          </tr>
        </table>
      </mat-card>
    </body>
  </div>
</div>
