<div class="col-md-10">
  <div class="btnbar" style="width: inherit">
    <h3 style="float: left">Assign Projects</h3>
    <li>
      <button mat-button style="color:rgb(58, 56, 56)"><span class="glyphicon glyphicon-import"></span><p role="presentation">Import</p></button>
    </li>
    <li>
      <button (click)="exportAsXLSX()" mat-button style="color:rgb(58, 56, 56)"><span class="glyphicon glyphicon-export"></span><p role="presentation">Export</p></button>
    </li>
    <li>
      <button mat-button (click)="OnSubmit()" style="color:rgb(7, 192, 7)"><span class="glyphicon glyphicon-floppy-disk"></span><p role="presentation">Save</p></button>
    </li>
    <li>
      <button mat-button style="color:rgb(212, 2, 2)"><span class="glyphicon glyphicon-remove"></span><p role="presentation">Remove</p></button>
    </li>
    <li>
      <button mat-button style="color:rgb(58, 56, 56)"><span class="glyphicon glyphicon-search"></span><p role="presentation">Search</p></button>
    </li>
  </div>
  <br><br>
  <div class="pg-assnpro" style="height: calc( 100vh - 115px)">
    <body>
      <hr>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              New Entry
            </mat-panel-title>
            <mat-panel-description>
              A New Project Can be Assigned to An Employee Here
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-card>
            <mat-form-field>
              <input matInput placeholder="Employee Id">
            </mat-form-field>&nbsp;&nbsp;
            <mat-form-field style="width: 250px;">
              <input matInput placeholder="Employee Name">
            </mat-form-field>&nbsp;&nbsp;
            <mat-form-field style="width: 250px;">
              <input matInput placeholder="Project Name">
            </mat-form-field>&nbsp;&nbsp;
            <mat-form-field style="width: 185px;">
              <input matInput placeholder="Project Assigning Date" [matDatepicker]="ProAsnDate">
              <mat-datepicker-toggle matSuffix [for]="ProAsnDate"></mat-datepicker-toggle>
              <mat-datepicker #ProAsnDate></mat-datepicker>
            </mat-form-field>&nbsp;&nbsp;
            <mat-form-field style="width: 185px;">
              <input matInput placeholder="Project End Date" [matDatepicker]="ProendDate">
              <mat-datepicker-toggle matSuffix [for]="ProendDate"></mat-datepicker-toggle>
              <mat-datepicker #ProendDate></mat-datepicker>
            </mat-form-field><br><hr class="cardhr">
            <mat-form-field>
              <mat-label>Billable</mat-label>
              <mat-select [(ngModel)]="selectedValue" name="Billable">
                <mat-option [value]="value">Yes</mat-option>
                <mat-option [value]="value">No</mat-option>
              </mat-select>
            </mat-form-field>&nbsp;&nbsp;
            <mat-form-field>
              <input matInput placeholder="Billing (%)">
            </mat-form-field>&nbsp;&nbsp;
            <mat-form-field>
              <input matInput placeholder="Location">
            </mat-form-field>&nbsp;&nbsp;
            <mat-form-field>
              <mat-label>Shore</mat-label>
              <mat-select [(ngModel)]="selectedValue" name="Shore">
                <mat-option [value]="value">Onsite</mat-option>
                <mat-option [value]="value">Off-Shore</mat-option>
              </mat-select>
            </mat-form-field>
          </mat-card>
        </mat-expansion-panel>
      </mat-accordion>
          <br>
          <hr>
          <mat-card>
            <table>
              <tr style="background:#8BBC58">
                <th><input type="checkbox"></th>
                <th>               </th>
                <th>Employee Id</th>
                <th>Emp name</th>
                <th>Project name</th>
                <th>Assign Date</th>
                <th>End Date</th>
                <th>Billable</th>
                <th>Billable(%)</th>
                <th>Location</th>
                <th>On Site</th>
              </tr>
              <tr *ngFor="let ap of assignproj">
                <td><input type="checkbox"></td>
                <td><button (click)="edit(ap.emp_Id)"><span class="glyphicon glyphicon-pencil"></span></button><button><span (click)="Delete(ap.project_Assign_ID)" class="glyphicon glyphicon-trash btn-bg" style="color:red"></span></button><button><span (click)="cancel(ap.project_Assign_ID)" class="glyphicon glyphicon-remove"></span></button><button><span (click)="update(ap)" class="glyphicon glyphicon-ok" style="color:green"></span></button></td>
                <td>{{ap.emp_Id}}</td>
                <td *ngIf="ap.emp_Id === EditRowId"><input type="text" placeholder="Empname" [(ngModel)]="ap.emp_Name" /></td>
                <td *ngIf="ap.emp_Id!==EditRowId">{{ap.emp_Name}}</td>
                <td *ngIf="ap.emp_Id === EditRowId"><input type="text" placeholder="Projectname" [(ngModel)]="ap.project_Name" /></td>
                <td *ngIf="ap.emp_Id!==EditRowId">{{ap.project_Name}}</td>
                <td *ngIf="ap.emp_Id === EditRowId"><input type="text" placeholder="YYYY/MMM/DD" [(ngModel)]="ap.Assign_Project_StartDate" /></td>
                <td *ngIf="ap.emp_Id!==EditRowId">{{ap.assign_Project_StartDate|date:'dd-MMM-yyyy'}}</td>
                <td *ngIf="ap.emp_Id === EditRowId"><input type="text" placeholder="YYYY/MMM/DD" [(ngModel)]="ap.Assign_Project_EndDate" /></td>
                <td *ngIf="ap.emp_Id!==EditRowId">{{ap.assign_Project_EndDate|date:'dd-MMM-yyyy'}}</td>
                <td *ngIf="ap.emp_Id === EditRowId"><input type="text" placeholder="billable" [(ngModel)]="ap.billable" /></td>
                <td *ngIf="ap.emp_Id!==EditRowId">{{ap.billable}}</td>
                <td *ngIf="ap.emp_Id === EditRowId"><input type="text" placeholder="billing_Percentage" [(ngModel)]="ap.billing_Percentage" /></td>
                <td *ngIf="ap.emp_Id!==EditRowId">{{ap.billing_Percentage}}</td>
                <td *ngIf="ap.emp_Id === EditRowId"><input type="text" placeholder="location" [(ngModel)]="ap.location" /></td>
                <td *ngIf="ap.emp_Id!==EditRowId">{{ap.location}}</td>
                <td *ngIf="ap.emp_Id === EditRowId"><input type="text" placeholder="onsite" [(ngModel)]="ap.onsite" /></td>
                <td *ngIf="ap.emp_Id!==EditRowId">{{ap.onsite}}</td>
              </tr>
            </table>
          </mat-card>
    </body>
  </div>
</div>
