<div class="col-md-2 sidebar">
  <ul class="list-unstyled components">
    <li routerLinkActive="active"><a routerLink="/employee" role="button">Work Flow</a></li>
    <!--<li routerLinkActive="active"><a routerLink="/projects" role="button">Projects</a></li>
    <li routerLinkActive="active"><a routerLink="/assignProjects" role="button">Assign Project</a></li>
    <li routerLinkActive="active"><a routerLink="/roles" role="button">Roles</a></li>
    <li routerLinkActive="active"><a routerLink="/customers" role="button">Customers</a></li>
    <li routerLinkActive="active"><a routerLink="/resoucereq" role="button">Resource Request</a></li>-->
    <hr>
      <mat-expansion-panel style="border:inherit; background-color:inherit; box-shadow:none;">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Admin
          </mat-panel-title>
        </mat-expansion-panel-header>
        <li routerLinkActive="active"><a routerLink="/config" role="button">User Registration</a></li>
      </mat-expansion-panel>
  </ul>
</div>
