<div class="col-md-10">
  <div class="pg-assnpro" style="height: calc( 100vh - 51.3px)">
    <body>
      <hr>
      <div class="col-md-2 col-sm-offset-1">
        <mat-card style="background-color: rgb(255,210,21); font-weight: bold">
          <div style="font-size:50px;text-align:center">{{empcount}}</div>
          <hr>
          <br />
          <div style="text-align:center">
            No of Processed Shipments
          </div>
        </mat-card>
      </div>
      <div class="col-md-2">
        <mat-card style="background-color: rgb(139,188,88); font-weight: bold">
          <div style="font-size:50px;text-align:center">{{empProjcount}}</div>
          <hr>
          <div style="text-align:center">
            Other Shipments
          </div>
        </mat-card>
      </div>
      <div class="col-md-2">
        <mat-card style="background-color: rgb(242,243,243); font-weight: bold;">
          <div style="font-size:50px;text-align:center">{{empBenchcount}}</div>
          <hr style="border-color:black">
          <div style="text-align:center">
            Other Shipments
          </div>
        </mat-card>
      </div>
      <div class="col-md-2">
        <mat-card style="background-color: rgb(227,23,62); font-weight: bold">
          <div style="font-size:50px;text-align:center">{{custcount}}</div>
          <hr>
          <br />
          <div style="text-align:center">
            Other Shipments
          </div>
        </mat-card>
      </div>
      <div class="col-md-2">
        <mat-card style="background-color:rgb(0,138,194); font-weight: bold">
          <div style="font-size:50px;text-align:center">{{projcount}}</div>
          <hr>
          <br />
          <div style="text-align:center">
            Other Shipments
          </div>
        </mat-card>
      </div>

    </body>
  </div>
</div>
