<div class="col-md-10">
    <div class="btnbar" style="width: inherit">
      <h3 style="float: left">User Registration</h3>
      <li>
        <button mat-button style="color:rgb(58, 56, 56)"><span class="glyphicon glyphicon-import"></span><p role="presentation">Import</p></button>
      </li>
      <li>
        <button mat-button (click)="exportAsXLSX()" type="button" style="color:rgb(58, 56, 56)"><span class="glyphicon glyphicon-export"></span><p role="presentation">Export</p></button>
      </li>
      <li>
        <button mat-button type="button" (click)="OnSubmit()" style="color:rgb(7, 192, 7)"><span class="glyphicon glyphicon-floppy-disk"></span><p role="presentation">Save</p></button>
      </li>
      <li>
        <button mat-button type="button" style="color:rgb(212, 2, 2)"><span class="glyphicon glyphicon-remove"></span><p role="presentation">Remove</p></button>
      </li>
      <li>
        <button mat-button type="button" style="color:rgb(58, 56, 56)"><span class="glyphicon glyphicon-search"></span><p role="presentation">Search</p></button>
      </li>
    </div>
    <br><br>
    <div class="pg-assnpro" style="height: calc( 100vh - 115px)">
      <body>
        <!--<hr>
        <mat-tab-group>
          <mat-tab label="Edge Practice">
            <mat-card>
              <span style="font-family:calibri; font-weight: bold; color: rgb(107, 107, 107)">Want To Add New Edge Practice?</span><br><br>
              <mat-form-field style="width: 250px;">
                <input matInput placeholder="Edge Practice">
              </mat-form-field><br>
            </mat-card>
          </mat-tab>
          <mat-tab label="Department">
            <mat-card>
              <span style="font-family:calibri; font-weight: bold; color: rgb(107, 107, 107)">Want to Add new Department?</span><br><br>
              <mat-form-field style="width: 250px;">
                <input matInput placeholder="Department">
              </mat-form-field>&nbsp;&nbsp;
            </mat-card>
          </mat-tab>
          <mat-tab label="Designation">
            <mat-card>
              <span style="font-family:calibri; font-weight: bold; color: rgb(107, 107, 107)">Want to Add new Designation?</span><br><br>
              <mat-form-field style="width: 250px;">
                <input matInput placeholder="Designation">
              </mat-form-field>&nbsp;&nbsp;
            </mat-card>
          </mat-tab>
          <mat-tab label="Center of Excellence">
            <mat-card>
              <span style="font-family:calibri; font-weight: bold; color: rgb(107, 107, 107)">Want to Add new Center of Excellence?</span><br><br>
              <mat-form-field style="width: 250px;">
                <input matInput placeholder="Center of Excellence">
              </mat-form-field>&nbsp;&nbsp;
            </mat-card>
          </mat-tab>
        </mat-tab-group>
        <hr>-->
      </body>
    </div>
    </div>
